[run]
branch = true
source = system_architect
omit =
    system_architect/migrations/*
    system_architect/tests/*
    */setup.py*
    */manage.py*

[report]
# Ignore missing source files, i.e. fake template-generated "files"
ignore_errors = true